#### 1.1 Importing necessary libraries

In [2]:
import pandas as pd

#### 1.2 Reading the TSV file

In [3]:
df = pd.read_csv('../dataset/envsw.tsv', sep=r'\t', engine='python', header=None)

#### 1.3 viewing the dataset

In [4]:
df.head()

,0,1,2,3
0,1326,Are you sure?,3653235,"Je, una uhakika?"
1,1434,I love you.,369350,Nakupenda.
2,1631,This is my friend Rachel. We went to high scho...,3324344,Huyu ni rafiki yangu Rachel. Tulikwenda pamoja...
3,1712,I have a headache.,842637,Kichwa kinauma.
4,1775,"Where there's a will, there's a way.",562906,"Penye nia, pana njia."

#### 1.4 Setting  header to the TSV file

In [5]:
df.columns = ['engIndex', 'English sentence', 'swIndex', 'Swahili Translation']

#### 1.5 Viewing our dataset after adding columns

In [6]:
df.tail()

,engIndex,English sentence,swIndex,Swahili Translation
4348,8023644,That's Sasha's house. She's lived there for de...,10898662,Hiyo ni nyumba ya Sasha. Aliishi huko kwa mion...
4349,8603213,Persons of Anglo-Saxon or German origin are co...,10898776,Watu wenye asili ya Kianglo-Saxon au ya Kijeru...
4350,11483210,She decided to move to Belgium.,11490946,Aliamua kuhamia Ubelgiji.
4351,11475869,Do you watch the news?,11490948,"Je, unatazama habari?"
4352,4495519,Can you afford that?,11490949,"Je, unaweza kumudu?"

##### 1.6 Dropping the unnecessary columns

In [7]:
df = df.drop(['swIndex', 'engIndex'], axis=1)

##### 1.7 Viewing the dataset after dropping the columns

In [8]:
df.head()

,English sentence,Swahili Translation
0,Are you sure?,"Je, una uhakika?"
1,I love you.,Nakupenda.
2,This is my friend Rachel. We went to high scho...,Huyu ni rafiki yangu Rachel. Tulikwenda pamoja...
3,I have a headache.,Kichwa kinauma.
4,"Where there's a will, there's a way.","Penye nia, pana njia."

#### 1.8 Exporting the first version of our dataset

In [9]:
# df.to_csv("../dataset/ensw-v1.csv", index=False)

#### 1.9 Concatenate two files eng.txt and sw.txt
We are loading the pairs

    - english text
    - Swahili text

In [10]:
eng = pd.read_csv('../dataset/pairs/en.txt', sep=r'\t', engine='python', header=None)

In [11]:
sw = pd.read_csv('../dataset/pairs/sw.txt', sep=r'\t', engine='python', header=None)

In [12]:
# confirm the length of the text
eng.shape

(229312, 1)

In [13]:
# confirm the length of the text
sw.shape

(229312, 1)

#### 2.0 concatenating the pairs horizontally

In [14]:
engsw = pd.concat([eng, sw], axis=1)

#### 2.1 Viewing the dataset after concatenating

In [15]:
engsw

,0,0
0,Zacharakis Studios,Zacharakis Studios
1,Carma,Karma
2,"It is of no significance whatsoever to me!""","Haina umuhimu wowote kwangu!"""
3,No.001: black,Nambari 001: nyeusi
4,"If its weight loss, what will you do?","Ikiwa uzito umepungua, utafanya nini?"
...,...,...
229307,I just go to the next page found by Google and...,Ninaenda tu kwenye ukurasa unaofuata uliopatik...
229308,If someone who doesn't know your background sa...,Ikiwa mtu ambaye hajui historia yako anasema u...
229309,"In other words, you don't really sound like a ...","Kwa maneno mengine, hausikiki kama mzungumzaji..."
229310,It may be impossible to get a completely error...,Huenda isiwezekane kupata kundi lisilo na hiti...
229311,"However, if we encourage members to contribute...","Hata hivyo, ikiwa tunawahimiza washiriki kucha..."

#### 2.2 Exporting the dataset as csv file after concatenating

In [16]:
# engsw.to_csv("../dataset/ensw-v2.csv", index=False)

#### 2.3 Loading the v1, v2 and v3 dataset to concat

In [26]:
df_1 = pd.read_csv('../dataset/ensw-v1.csv', header=None)

In [27]:
df_2 = pd.read_csv('../dataset/ensw-v2.csv', header=None)

In [28]:
df_3 = pd.read_csv('../dataset/ensw-v3.csv', header=None)

#### 2.4 Concatenating v1, v2 and v3 vertically

In [29]:
combined_engsw = pd.concat([df_1,df_2,df_3], axis=0)

#### 2.5 Naming the columns

In [33]:
combined_engsw.columns = ['English sentence', 'Swahili Translation']

#### 2.6 Viewing the combined that dataset

In [39]:
combined_engsw

,English sentence,Swahili Translation
0,English sentence,Swahili Translation
1,Are you sure?,"Je, una uhakika?"
2,I love you.,Nakupenda.
3,This is my friend Rachel. We went to high scho...,Huyu ni rafiki yangu Rachel. Tulikwenda pamoja...
4,I have a headache.,Kichwa kinauma.
...,...,...
8488,I wish I had stayed at my parents' home.,Natamani ningekaa nyumbani kwa wazazi wangu.
8489,All the children were avoiding him because he ...,Watoto wote walikuwa wakimzuia kwa sababu alik...
8490,The school is so big.,Shule ni kubwa sana.
8491,When reporting to school all children must ent...,Wakati wa kuripoti shuleni watoto wote lazima ...
8492,My mother teaches primary one class.,Mama yangu hufundisha darasa la msingi.

#### 2.7 Exporting the combined dataset to csv file

In [40]:
combined_engsw.to_csv("../dataset/ensw-final.csv", index=False)

(8493, 2)