#### 1.1 Importing necessary libraries

In [1]:
import pandas as pd

#### 1.2 Reading the TSV file

In [9]:
df = pd.read_csv('../dataset/envsw.tsv', sep=r'\t', engine='python', header=None)

#### 1.3 viewing the dataset

In [10]:
df.head()

,0,1,2,3
0,1326,Are you sure?,3653235,"Je, una uhakika?"
1,1434,I love you.,369350,Nakupenda.
2,1631,This is my friend Rachel. We went to high scho...,3324344,Huyu ni rafiki yangu Rachel. Tulikwenda pamoja...
3,1712,I have a headache.,842637,Kichwa kinauma.
4,1775,"Where there's a will, there's a way.",562906,"Penye nia, pana njia."

#### 1.4 Setting  header to the TSV file

In [11]:
df.columns = ['engIndex', 'English sentence', 'swIndex', 'Swahili Translation']

#### 1.5 Viewing our dataset after adding columns

In [12]:
df.tail()

,engIndex,English sentence,swIndex,Swahili Translation
4348,8023644,That's Sasha's house. She's lived there for de...,10898662,Hiyo ni nyumba ya Sasha. Aliishi huko kwa mion...
4349,8603213,Persons of Anglo-Saxon or German origin are co...,10898776,Watu wenye asili ya Kianglo-Saxon au ya Kijeru...
4350,11483210,She decided to move to Belgium.,11490946,Aliamua kuhamia Ubelgiji.
4351,11475869,Do you watch the news?,11490948,"Je, unatazama habari?"
4352,4495519,Can you afford that?,11490949,"Je, unaweza kumudu?"

##### 1.6 Dropping the unnecessary columns

In [13]:
df = df.drop(['swIndex', 'engIndex'], axis=1)

##### 1.7 Viewing the dataset after dropping the columns

In [21]:
df.head()

,English sentence,Swahili Translation
0,Are you sure?,"Je, una uhakika?"
1,I love you.,Nakupenda.
2,This is my friend Rachel. We went to high scho...,Huyu ni rafiki yangu Rachel. Tulikwenda pamoja...
3,I have a headache.,Kichwa kinauma.
4,"Where there's a will, there's a way.","Penye nia, pana njia."

#### 1.8 Exporting the first version of our dataset

In [18]:
df.to_csv("../dataset/ensw-v1.csv", index=False)

#### 1.9 Concatenate two files English.text and Kiswahili.text